{% extends 'base.html.twig' %}

{% block title %}Edit Bookmark{% endblock %}

{% block main_container %}
    <h1>Edit Bookmark</h1>
    <a href="{{ path('app_dashboard') }}" title="Back to List">Back to List</a>
    {{ include('bookmark/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
