{% extends 'base.html.twig' %}

{% block title %}New Bookmark{% endblock %}

{% block body %}
    <h1>Create new Bookmark</h1>

    {{ include('bookmark/_form.html.twig') }}

    <a href="{{ path('app_bookmark_get') }}">back to list</a>
{% endblock %}
