<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Curso de Symfony
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.css" />
      <link rel="stylesheet" href="/assets/css/offcanvas.css" />
      <link rel="stylesheet" href="/assets/css/main.css" />
    {% endblock %}
  </head>
  <body class="bg-light">
    {% block body %}
      {% block menu %}
        {% include 'partials/_menu.html.twig' %}
      {% endblock %}
      <div role="main" class="container">
        {% block main_container %}

        {% endblock %}
      </div>
      {% block javascript %}
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/offcanvas.js"></script>
        <script src="/assets/js/main.js"></script>
      {% endblock %}
    {% endblock %}
  </body>
</html>
