{% include 'partials/_messages.html.twig' %}
<form method="POST">
    <div class="form-group">
        <label for="tagName">Name</label>
        <input type="text" class="form-control" value="{{ tag.name }}" name="tagName" placeholder="Name" />
    </div>
    <input type="hidden" value="{{ csrf_token('tag') }}" name="tagToken" />
    <button type="submit" class="btn btn-outline-success">Save</button>
</form>
